.DS_Store
.vscode/
.venv/
.cache/
.pytest_cache/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.egg-info/
*.out
*.o
*.bin
build/
dist/

tutorials/*/config.runtime.json
tutorials/*/config.model_selection.runtime.json
tutorials/*/config.seed_scan.json
tutorials/*/result/
tutorials/*/src/generated_v2_config.hpp
